<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'questions/courses.css' %}">
    <h1>modules</h1>
    <br />
    <br />
    <div class='models'>
        {% for module in modules %}
        <div class='model-container'>
            <h2>{{module.name}} </h2>

            {% for question in module.questions.all %}
                <p>{{question.question_text}}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <button class="new-model" onclick="createModule()">
            <span>+</span>
        </button>
    </div>
    
    <br />
    <br/>

    <script>

        function createModule(){
            
        }

    </script>
</html>