<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'questions/courses.css' %}">
    <h1>Your Courses</h1>
    <br />
    <br />
    <div class='models'>
        {% for course in courses %}
        <div class='model-container'>
            <h2><a href="courses/{{ course.pk }}">{{course.title}} </a></h2>
            <h3> {{course.semester}} </h3>
            <h3>Modules: {{ course.num_of_modules }} </h3>
            <p><a href="courses/edit_course/{{ course.pk }}">Edit Course</a></p>
            <p><a href="delete_course/{{ course.pk }}">Delete Course</a></p>
        </div>
        {% endfor %}
    </div>
    <br />
    <form action="/courses" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add Course">
    </form>
    <br/>
    <br/>
    <a href="logout">Logout</a>
</html>