<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'questions/courses.css' %}">
    <h1>Modules</h1>
    <br />
    <br />
    <div class='models'>
        {% for module in modules %}
        <div class='model-container'>
            <h2>{{module.name}} </h2>

            {% for question in module.questions.all %}
                <p>{{question.question_text}}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <a href="/courses/{{course_id}}/create_module" class="new-model" >
            +
        </a>
    </div>
    
    <br />
    <br/>
</html>