<html>
    {% load static %}
    <link rel="stylesheet" href="{% static 'questions/courses.css' %}">
    <h1>Your Courses</h1>
    <br />
    <br />
    <div id='courses'>
        {% for course in courses %}
        <div id=course-container>
            <h2>{{course.title}} </h2>
            <h3>modules: {{ course.num_of_modules }}</h3>
        </div>
        {% endfor %}
    </div>
    <br />
    <form action="/courses" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Add Course">
    </form>
    <br/>
    <br/>
</html>